# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# bin
/bin

# testing
/coverage

# production
/build

# typescript
*.d.ts

# misc
.DS_Store

# sst build output
.build
.sst

# environments
.env

*.log

